# Remove tracking
.Rproj.user
.Rhistory
.RData
.Ruserdata

# RStudio files
*.Rproj
.Rproj.user

# Cache files
cache/
*_cache/
*.html
*_files/

# Vim files
*~
*.swp
*.vim

.gemini/settings.json
tests/testthat/Rplots.pdf
