importFrom(sva, ComBat)
importFrom(digest, digest)
importFrom(impute, impute.knn)

export(doppelgangR, corFinder, outlierFinder, phenoDist, phenoFinder,
smokingGunFinder, vectorHammingDist, vectorWeightedDist)

exportClasses("DoppelGang")

exportMethods("print", "summary", "show", "plot")
