importFrom(sva, ComBat)
importFrom(impute, impute.knn)

export(doppelgangR, corFinder, outlierFinder, phenoDist, phenoFinder, smokingGunFinder, vectorHammingDist)

exportClasses("DoppelGang")

exportMethods("print", "summary", "show", "plot")
