importFrom(sva, ComBat)

export(doppelgangR, corFinder, outlierFinder, phenoDist, phenoFinder, smokingGunFinder, vectorHammingDist)

exportClasses("DoppelGang")

exportMethods("print", "summary", "show")
